* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
.app {
  display: flex;
  flex-direction: row;
}
/* Scroll bar */
div::-webkit-scrollbar {
  height: 6px;
}

div::-webkit-scrollbar-thumb {
  background: #ff5050;
  border-radius: 20px;
}
@media screen and (max-width: 550px) {
  .app {
    flex-direction: column-reverse;
  }
}
